
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="star-light">
                </div>
            </div>
            {% for post in site.posts %}
                {% if post.featured %}
                    <div class="row portfolio-item">
                        <div class="col-lg-4">
                            <a href="{{ post.project-url }}" target="_blank" class="portfolio-link">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}" />
                            </a>
                        </div>
                        <div class="col-lg-8 portfolio-body">
                            <h3>{{ post.title }}</h3>
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>Client:
                                        <strong>{{ post.client }}</strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong>{{ post.project-date }}</strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Category:
                                        <strong>{{ post.category }}</strong>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>